<% include ./navbar %>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>
<br><br><br><br><br><br><br><br><br>
<style>
 img{
   width: 100%;
   margin-top: 20px;
   border-radius: 50%;
   height: 200%;
   background-size: cover;
   box-shadow: -12px 12px 5px red;
 }
 #skill{
  margin-top: 30px;
  margin-left: 12px;
  width: 20px;
  float: left;
 }
#btn{
  float: left;

}
h1{
  background-color:black;
  color:white;
  font-display: none;
  font-family: cursive;
  border-radius: 40%;
  margin-left: 20px;
  margin-right: 20px;
}
</style>
<body>
 <center>
<h1 style="">Shahbaz Siddique</h1>
 </center>
  <div class="container">
    <center>
      <img src="20191231_174003.jpg" alt="Shahbaz">

    </center>
    <div class="conatiner" id="skill">
      <button type="submit" class="btn btn-success btn-lg"><a href="https://www.interaction-design.org/literature/topics/web-design"></a>Web Developer</button>
     <br><br>
      <button type="button" id="btn" class="btn btn-success btn-lg"><a href="https://en.wikipedia.org/wiki/Student"></a>&nbsp;&nbsp;&nbsp;&nbsp;#Student </button>
      <br><br><br>
      <button type="button" id="btn" class="btn btn-success btn-lg"><a href="https://en.wikipedia.org/wiki/Writer"></a>Writer</button>
      <br><br><br>
     
    </div>
  </div>
</body>
</html>
