<% include ./navbar %>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="/javascript2.js">
        </script>
    </head>
    <br><br><br>
    <style>
    h3{
        background-color: black;
        text-align: center;
        border-radius: 20px;
        color: white;
        font-family: cursive;
    }
    #link{
        text-align: center;
        font-size: xx-large;
    }
    h4{
        float: right;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        color: white;
        background-color: black;
        margin-top: 30px;
        font-style: italic;
        font-family: cursive;
    }
    </style>
    <body>
        <div class="container">
            <h3>Mail  Me At</h3>

        </div>
        <hr>
        <div id="link" class="container">
           
            <a href="https://www.facebook.com/"><i id="font" class="fa fa-facebook"></i></a>
            <br>
            <a href="https://www.linkedin.com/in/shahbaz-siddique-77166417a/" <i id="font" class="fa fa-linkedin"></i>
            </a>
            <br>
            <a href="https://twitter.com/home"> <i id="font" class="fa fa-twitter"></i></a>
            <br>
            <a href="https://www.instagram.com/?hl=en"> <i id="font" class="fa fa-instagram"></i></a>
            <br>
            <a href="https://mail.google.com/mail/u/0/#inbox"> <i id="font" class="fa fa-google"></i></a>
            <br>
            <a href="https://github.com/"> <i id="font" class="fa fa-github"></i></a>
        </div>
        <div class="container">
            <h4>Thanking You</h4>
        </div>

    </body>
   