<% include ./navbar %>
    <html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="/javascript3.js">
        </script>
        <br><br><br>
        <div class="heading">
            <h1>
                Create Your Blog
            </h1>
        </div>
        <br>
        <div class="container">
            <form action="/post" id="blog_form" method="post">
                <label for="Author">Author:</label>
                <input class="form-control form-control-sm" type="text" id="first" name="author" placeholder="">
                <span id="username"></span>
                <br>
                <label for="Author Description">Author Description:</label>
                <input class="form-control form-control-sm" type="text" id="second" name="description" placeholder="">
                <span id="username2"></span>
                <br>
                <label for="Author title">Author Title:</label>
                <input class="form-control form-control-sm" type="text" id="third" name="title" placeholder="">
                <span id="username3"></span>
                
                <br>

                <label for="Blod">Blog Description:</label>
                <input class="form-control form-control-sm" type="textarea" id="fivth" name="blog" placeholder="">
                <span id="username5"></span>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </body>

    </html>
